/* See comments about CSS I didn't get to work.  Don't want 
to get stuck.  I used li tags and not divs and so things don't
work.  I am really struggling with CSS because there are too many
files and I'm just confused and even though Thomas keeps saying "focus
on one thing", it isn't happening for me, especially when I have been
trying to work on one thing and then in class, we are already going 
over a new thing.  */
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

img {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
}

ul {
    display: flex;  
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
}

.productCardsContainer .productCard {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;
}
    
.productCardsContainer .productCard:hover {
          border: 1px solid #eee;

}   

li .productPrice {
    color: gray;
}

/* this text color isn't changing  */

button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;  
    width: 80%;
    border: none;
    outline:none;
    margin: 25px;
  }
  
button:hover {
    background-color: #DEBE2C;
    color: white;
  }